{
   "UI_HOST": "localhost:<PORT>",
   "DB_USER": "<DB_USER>",
   "DB_PASS": "<DB_PASS>",
   "DB_NAME": "<DB_NAME>",
   "DB_HOST": "<DB_HOST>",
   "DB_PORT": "<DB_PORT>",
   "DB_SSL_IS_ENABLED": false,
   "SESSION_EMAIL": "<SESSION_EMAIL>",
   "SESSION_PASSWORD": "<SESSION_PASS>"
}
